<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
  xmlns:android="http://schemas.android.com/apk/res/android"
  id="cordova-plugin-telerik-imagepicker"
  version="2.3.3">

    <name>ImagePicker</name>

    <description>
        This plugin allows selection of multiple images from the camera roll / gallery in a phonegap app
    </description>

    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>

    <js-module src="www/imagepicker.js" name="ImagePicker">
        <clobbers target="plugins.imagePicker" />
    </js-module>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ImagePicker">
                <param name="ios-package" value="SOSPicker"/>
            </feature>
        </config-file>

        <preference name="PHOTO_LIBRARY_USAGE_DESCRIPTION" default=" " />
        <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
          <string>$PHOTO_LIBRARY_USAGE_DESCRIPTION</string>
        </config-file>

        <header-file src="src/ios/SOSPicker.h" />
        <source-file src="src/ios/SOSPicker.m" />

        <header-file src="src/ios/GMImagePicker/UIImage+fixOrientation.h" />
        <source-file src="src/ios/GMImagePicker/UIImage+fixOrientation.m" />

        <header-file src="src/ios/GMImagePicker/GMAlbumsViewCell.h" />
        <source-file src="src/ios/GMImagePicker/GMAlbumsViewCell.m" />

        <header-file src="src/ios/GMImagePicker/GMAlbumsViewController.h" />
        <source-file src="src/ios/GMImagePicker/GMAlbumsViewController.m" />

        <header-file src="src/ios/GMImagePicker/GMFetchItem.h" />
        <source-file src="src/ios/GMImagePicker/GMFetchItem.m" />

        <header-file src="src/ios/GMImagePicker/GMGridViewCell.h" />
        <source-file src="src/ios/GMImagePicker/GMGridViewCell.m" />

        <header-file src="src/ios/GMImagePicker/GMGridViewController.h" />
        <source-file src="src/ios/GMImagePicker/GMGridViewController.m" />

        <header-file src="src/ios/GMImagePicker/GMImagePickerController.h" />
        <source-file src="src/ios/GMImagePicker/GMImagePickerController.m" />

        <header-file src="src/ios/GMImagePicker/PSYBlockTimer.h" />
        <source-file src="src/ios/GMImagePicker/PSYBlockTimer.m" />

        <header-file src="src/ios/GMImagePicker/GMPHAsset.h" />
        <source-file src="src/ios/GMImagePicker/GMPHAsset.m" />

        <resource-file src="src/ios/GMImagePicker/GMEmptyFolder@1x.png" />
        <resource-file src="src/ios/GMImagePicker/GMEmptyFolder@2x.png" />

        <resource-file src="src/ios/GMImagePicker/GMSelected.png" />
        <resource-file src="src/ios/GMImagePicker/GMSelected@2x.png" />

        <resource-file src="src/ios/GMImagePicker/GMVideoIcon.png" />
        <resource-file src="src/ios/GMImagePicker/GMVideoIcon@2x.png" />

        <resource-file src="src/ios/GMImagePicker/ca.lproj" />
        <resource-file src="src/ios/GMImagePicker/de.lproj" />
        <resource-file src="src/ios/GMImagePicker/en.lproj" />
        <resource-file src="src/ios/GMImagePicker/es.lproj" />
        <resource-file src="src/ios/GMImagePicker/fr.lproj" />
        <resource-file src="src/ios/GMImagePicker/it.lproj" />
        <resource-file src="src/ios/GMImagePicker/pt.lproj" />
        <resource-file src="src/ios/GMImagePicker/pl.lproj" />
        <resource-file src="src/ios/GMImagePicker/zh-Hans.lproj" />

        <framework src="Accelerate.framework" />
        <framework src="Security.framework" />
        <framework src="Photos.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="QuartzCore.framework" />

    </platform>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="ImagePicker">
                <param name="android-package" value="com.synconset.ImagePicker"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- <activity android:label="@string/multi_app_name" android:name="com.synconset.MultiImageChooserActivity" android:theme="@style/Theme.AppCompat.Light">
            </activity> -->
            <activity android:name="com.esafirm.imagepicker.features.ImagePickerActivity" />
            <application android:theme="@style/ef_BaseTheme" />
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
        </config-file>

        <framework src="com.android.support:appcompat-v7:23+" />


        <source-file src="src/android/com/esafirm/imagepicker/adapter/BaseListAdapter.java" target-dir="src/com/esafirm/imagepicker/adapter" />
        <source-file src="src/android/com/esafirm/imagepicker/adapter/FolderPickerAdapter.java" target-dir="src/com/esafirm/imagepicker/adapter" />
        <source-file src="src/android/com/esafirm/imagepicker/adapter/ImagePickerAdapter.java" target-dir="src/com/esafirm/imagepicker/adapter" />
        <source-file src="src/android/com/esafirm/imagepicker/helper/ConfigUtils.java" target-dir="src/com/esafirm/imagepicker/helper" />
        <source-file src="src/android/com/esafirm/imagepicker/helper/ImagePickerFileProvider.java" target-dir="src/com/esafirm/imagepicker/helper" />
        <source-file src="src/android/com/esafirm/imagepicker/helper/ImagePickerPreferences.java" target-dir="src/com/esafirm/imagepicker/helper" />
        <source-file src="src/android/com/esafirm/imagepicker/helper/ImagePickerUtils.java" target-dir="src/com/esafirm/imagepicker/helper" />
        <source-file src="src/android/com/esafirm/imagepicker/helper/IpCrasher.java" target-dir="src/com/esafirm/imagepicker/helper" />
        <source-file src="src/android/com/esafirm/imagepicker/helper/IpLogger.java" target-dir="src/com/esafirm/imagepicker/helper" />
        <source-file src="src/android/com/esafirm/imagepicker/helper/LocaleManager.java" target-dir="src/com/esafirm/imagepicker/helper" />
        <source-file src="src/android/com/esafirm/imagepicker/helper/ViewUtils.java" target-dir="src/com/esafirm/imagepicker/helper" />
        <source-file src="src/android/com/esafirm/imagepicker/listeners/OnFolderClickListener.java" target-dir="src/com/esafirm/imagepicker/listeners" />
        <source-file src="src/android/com/esafirm/imagepicker/listeners/OnImageClickListener.java" target-dir="src/com/esafirm/imagepicker/listeners" />
        <source-file src="src/android/com/esafirm/imagepicker/listeners/OnImageSelectedListener.java" target-dir="src/com/esafirm/imagepicker/listeners" />
        <source-file src="src/android/com/esafirm/imagepicker/model/Folder.java" target-dir="src/com/esafirm/imagepicker/model" />
        <source-file src="src/android/com/esafirm/imagepicker/model/Image.java" target-dir="src/com/esafirm/imagepicker/model" />
        <source-file src="src/android/com/esafirm/imagepicker/model/ImageFactory.java" target-dir="src/com/esafirm/imagepicker/model" />
        <source-file src="src/android/com/esafirm/imagepicker/view/FakeR.java" target-dir="src/com/esafirm/imagepicker/view" />
        <source-file src="src/android/com/esafirm/imagepicker/view/GridSpacingItemDecoration.java" target-dir="src/com/esafirm/imagepicker/view" />
        <source-file src="src/android/com/esafirm/imagepicker/view/SnackBarView.java" target-dir="src/com/esafirm/imagepicker/view" />
        <source-file src="src/android/com/esafirm/imagepicker/view/SquareFrameLayout.java" target-dir="src/com/esafirm/imagepicker/view" />

        <source-file src="src/android/com/esafirm/imagepicker/features/ImagePickerActivity.java" target-dir="src/com/esafirm/imagepicker/features" />
        <source-file src="src/android/com/esafirm/imagepicker/features/ImagePickerComponentHolder.java" target-dir="src/com/esafirm/imagepicker/features" />
        <source-file src="src/android/com/esafirm/imagepicker/features/ImagePickerConfig.java" target-dir="src/com/esafirm/imagepicker/features" />
        <source-file src="src/android/com/esafirm/imagepicker/features/ImagePickerConfigFactory.java" target-dir="src/com/esafirm/imagepicker/features" />
        <source-file src="src/android/com/esafirm/imagepicker/features/ImagePickerESA.java" target-dir="src/com/esafirm/imagepicker/features" />
        <source-file src="src/android/com/esafirm/imagepicker/features/ImagePickerFragment.java" target-dir="src/com/esafirm/imagepicker/features" />
        <source-file src="src/android/com/esafirm/imagepicker/features/ImagePickerInteractionListener.java" target-dir="src/com/esafirm/imagepicker/features" />
        <source-file src="src/android/com/esafirm/imagepicker/features/ImagePickerPresenter.java" target-dir="src/com/esafirm/imagepicker/features" />
        <source-file src="src/android/com/esafirm/imagepicker/features/ImagePickerSavePath.java" target-dir="src/com/esafirm/imagepicker/features" />
        <source-file src="src/android/com/esafirm/imagepicker/features/ImagePickerView.java" target-dir="src/com/esafirm/imagepicker/features" />
        <source-file src="src/android/com/esafirm/imagepicker/features/IpCons.java" target-dir="src/com/esafirm/imagepicker/features" />
        <source-file src="src/android/com/esafirm/imagepicker/features/ReturnMode.java" target-dir="src/com/esafirm/imagepicker/features" />

        <source-file src="src/android/com/esafirm/imagepicker/features/camera/CameraHelper.java" target-dir="src/com/esafirm/imagepicker/features/camera" />
        <source-file src="src/android/com/esafirm/imagepicker/features/camera/CameraModule.java" target-dir="src/com/esafirm/imagepicker/features/camera" />
        <source-file src="src/android/com/esafirm/imagepicker/features/camera/DefaultCameraModule.java" target-dir="src/com/esafirm/imagepicker/features/camera" />
        <source-file src="src/android/com/esafirm/imagepicker/features/camera/OnImageReadyListener.java" target-dir="src/com/esafirm/imagepicker/features/camera" />

        <source-file src="src/android/com/esafirm/imagepicker/features/cameraonly/CameraOnlyConfig.java" target-dir="src/com/esafirm/imagepicker/features/cameraonly" />
        <source-file src="src/android/com/esafirm/imagepicker/features/cameraonly/ImagePickerCameraOnly.java" target-dir="src/com/esafirm/imagepicker/features/cameraonly" />

        <source-file src="src/android/com/esafirm/imagepicker/features/common/BaseConfig.java" target-dir="src/com/esafirm/imagepicker/features/common" />
        <source-file src="src/android/com/esafirm/imagepicker/features/common/BasePresenter.java" target-dir="src/com/esafirm/imagepicker/features/common" />
        <source-file src="src/android/com/esafirm/imagepicker/features/common/ImageLoaderListener.java" target-dir="src/com/esafirm/imagepicker/features/common" />
        <source-file src="src/android/com/esafirm/imagepicker/features/common/MvpView.java" target-dir="src/com/esafirm/imagepicker/features/common" />

        <source-file src="src/android/com/esafirm/imagepicker/features/fileloader/ImageLoaderListener.java" target-dir="src/com/esafirm/imagepicker/features/fileloader" />
        <source-file src="src/android/com/esafirm/imagepicker/features/fileloader/MvpView.java" target-dir="src/com/esafirm/imagepicker/features/fileloader" />

        <source-file src="src/android/com/esafirm/imagepicker/features/imageloader/DefaultImageLoader.java" target-dir="src/com/esafirm/imagepicker/features/imageloader" />
        <source-file src="src/android/com/esafirm/imagepicker/features/imageloader/ImageLoader.java" target-dir="src/com/esafirm/imagepicker/features/imageloader" />
        <source-file src="src/android/com/esafirm/imagepicker/features/imageloader/ImageType.java" target-dir="src/com/esafirm/imagepicker/features/imageloader" />
        
        <source-file src="src/android/com/esafirm/imagepicker/features/recyclers/RecyclerViewManager.java" target-dir="src/com/esafirm/imagepicker/features/recyclers" />



        <source-file src="src/android/com/synconset/ImagePicker/ImagePicker.java" target-dir="src/com/synconset" />
        <source-file src="src/android/com/synconset/ImagePicker/FakeR.java" target-dir="src/com/synconset" />
        <source-file src="src/android/com/synconset/ImagePicker/ResultIPC.java" target-dir="src/com/synconset" />


        <resource-file src="src/android/LibraryEsa/res/drawable/ef_folder_placeholder.xml" target="res/drawable/ef_folder_placeholder.xml"/>
        <resource-file src="src/android/LibraryEsa/res/drawable/ef_image_placeholder.xml" target="res/drawable/ef_image_placeholder.xml"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-hdpi/ef_ic_arrow_back.png" target="res/drawable-hdpi/ef_ic_arrow_back.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-hdpi/ef_ic_arrow_forward.png" target="res/drawable-hdpi/ef_ic_arrow_forward.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-hdpi/ef_ic_camera_white.png" target="res/drawable-hdpi/ef_ic_camera_white.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-hdpi/ef_ic_done_white.png" target="res/drawable-hdpi/ef_ic_done_white.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-mdpi/ef_ic_arrow_back.png" target="res/drawable-mdpi/ef_ic_arrow_back.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-mdpi/ef_ic_arrow_forward.png" target="res/drawable-mdpi/ef_ic_arrow_forward.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-mdpi/ef_ic_camera_white.png" target="res/drawable-mdpi/ef_ic_camera_white.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-mdpi/ef_ic_done_white.png" target="res/drawable-mdpi/ef_ic_done_white.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-xhdpi/ef_ic_arrow_back.png" target="res/drawable-xhdpi/ef_ic_arrow_back.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-xhdpi/ef_ic_arrow_forward.png" target="res/drawable-xhdpi/ef_ic_arrow_forward.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-xhdpi/ef_ic_camera_white.png" target="res/drawable-xhdpi/ef_ic_camera_white.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-xhdpi/ef_ic_done_white.png" target="res/drawable-xhdpi/ef_ic_done_white.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-xxhdpi/ef_ic_arrow_back.png" target="res/drawable-xxhdpi/ef_ic_arrow_back.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-xxhdpi/ef_ic_arrow_forward.png" target="res/drawable-xxhdpi/ef_ic_arrow_forward.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-xxhdpi/ef_ic_camera_white.png" target="res/drawable-xxhdpi/ef_ic_camera_white.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-xxhdpi/ef_ic_done_white.png" target="res/drawable-xxhdpi/ef_ic_done_white.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-xxxhdpi/ef_ic_arrow_back.png" target="res/drawable-xxxhdpi/ef_ic_arrow_back.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-xxxhdpi/ef_ic_arrow_forward.png" target="res/drawable-xxxhdpi/ef_ic_arrow_forward.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-xxxhdpi/ef_ic_camera_white.png" target="res/drawable-xxxhdpi/ef_ic_camera_white.png"/>
        <resource-file src="src/android/LibraryEsa/res/drawable-xxxhdpi/ef_ic_done_white.png" target="res/drawable-xxxhdpi/ef_ic_done_white.png"/>
        <resource-file src="src/android/LibraryEsa/res/layout/ef_activity_image_picker.xml" target="res/layout/ef_activity_image_picker.xml"/>
        <resource-file src="src/android/LibraryEsa/res/layout/ef_fragment_image_picker.xml" target="res/layout/ef_fragment_image_picker.xml"/>
        <resource-file src="src/android/LibraryEsa/res/layout/ef_imagepicker_item_folder.xml" target="res/layout/ef_imagepicker_item_folder.xml"/>
        <resource-file src="src/android/LibraryEsa/res/layout/ef_imagepicker_item_image.xml" target="res/layout/ef_imagepicker_item_image.xml"/>
        <resource-file src="src/android/LibraryEsa/res/layout/ef_imagepicker_toolbar.xml" target="res/layout/ef_imagepicker_toolbar.xml"/>
        <resource-file src="src/android/LibraryEsa/res/layout/ef_imagepikcer_snackbar.xml" target="res/layout/ef_imagepikcer_snackbar.xml"/>
        <resource-file src="src/android/LibraryEsa/res/menu/ef_image_picker_menu_main.xml" target="res/menu/ef_image_picker_menu_main.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values/colors.xml" target="res/values/colors.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values/dimens.xml" target="res/values/dimens.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values/strings.xml" target="res/values/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values/styles.xml" target="res/values/styles.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-ar/strings.xml" target="res/values-ar/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-da/strings.xml" target="res/values-da/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-de/strings.xml" target="res/values-de/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-fr/strings.xml" target="res/values-fr/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-in/strings.xml" target="res/values-in/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-it/strings.xml" target="res/values-it/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-ko/strings.xml" target="res/values-ko/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-pt-rBR/strings.xml" target="res/values-pt-rBR/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-ro/strings.xml" target="res/values-ro/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-ru/strings.xml" target="res/values-ru/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-sw600dp/dimens.xml" target="res/values-sw600dp/dimens.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-tr/strings.xml" target="res/values-tr/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-uk/strings.xml" target="res/values-uk/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-zh-rCN/strings.xml" target="res/values-zh-rCN/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/values-zh-rTW/strings.xml" target="res/values-zh-rTW/strings.xml"/>
        <resource-file src="src/android/LibraryEsa/res/xml/image_picker_provider_paths.xml" target="res/xml/image_picker_provider_paths.xml"/>


		<framework src="com.github.bumptech.glide:glide:4.11.0" />


        <source-file src="src/android/Library/src/ImageFetcher.java" target-dir="src/com/synconset"/>
        <source-file src="src/android/Library/src/MultiImageChooserActivity.java" target-dir="src/com/synconset"/>

        <resource-file src="src/android/Library/res/anim/image_pop_in.xml" target="res/anim/image_pop_in.xml"/>
        <resource-file src="src/android/Library/res/drawable/grid_background.xml" target="res/drawable/grid_background.xml"/>
        <resource-file src="src/android/Library/res/drawable-hdpi/image_bg.9.png" target="res/drawable-hdpi/image_bg.9.png"/>
        <resource-file src="src/android/Library/res/drawable-hdpi/loading_icon.png" target="res/drawable-hdpi/loading_icon.png"/>
        <resource-file src="src/android/Library/res/drawable-mdpi/ic_action_discard_dark.png" target="res/drawable-mdpi/ic_action_discard_dark.png"/>
        <resource-file src="src/android/Library/res/drawable-mdpi/ic_action_discard_light.png" target="res/drawable-mdpi/ic_action_discard_light.png"/>
        <resource-file src="src/android/Library/res/drawable-mdpi/ic_action_done_dark.png" target="res/drawable-mdpi/ic_action_done_dark.png"/>
        <resource-file src="src/android/Library/res/drawable-mdpi/ic_action_done_light.png" target="res/drawable-mdpi/ic_action_done_light.png"/>
        <resource-file src="src/android/Library/res/drawable-mdpi/ic_launcher.png" target="res/drawable-mdpi/ic_launcher.png"/>
        <resource-file src="src/android/Library/res/drawable-xhdpi/ic_action_discard_dark.png" target="res/drawable-xhdpi/ic_action_discard_dark.png"/>
        <resource-file src="src/android/Library/res/drawable-xhdpi/ic_action_discard_light.png" target="res/drawable-xhdpi/ic_action_discard_light.png"/>
        <resource-file src="src/android/Library/res/drawable-xhdpi/ic_action_done_dark.png" target="res/drawable-xhdpi/ic_action_done_dark.png"/>
        <resource-file src="src/android/Library/res/drawable-xhdpi/ic_action_done_light.png" target="res/drawable-xhdpi/ic_action_done_light.png"/>
        <resource-file src="src/android/Library/res/drawable-xhdpi/ic_launcher.png" target="res/drawable-xhdpi/ic_launcher.png"/>
        <resource-file src="src/android/Library/res/layout/actionbar_custom_view_done_discard.xml" target="res/layout/actionbar_custom_view_done_discard.xml"/>
        <resource-file src="src/android/Library/res/layout/actionbar_discard_button.xml" target="res/layout/actionbar_discard_button.xml"/>
        <resource-file src="src/android/Library/res/layout/actionbar_done_button.xml" target="res/layout/actionbar_done_button.xml"/>
        <resource-file src="src/android/Library/res/layout/multiselectorgrid.xml" target="res/layout/multiselectorgrid.xml"/>
        <resource-file src="src/android/Library/res/values/multiimagechooser_strings_en.xml" target="res/values/multiimagechooser_strings_en.xml"/>
        <resource-file src="src/android/Library/res/values/themes.xml" target="res/values/themes.xml"/>

        <resource-file src="src/android/Library/res/values-de/multiimagechooser_strings_de.xml" target="res/values-de/multiimagechooser_strings_de.xml"/>
        <resource-file src="src/android/Library/res/values-es/multiimagechooser_strings_es.xml" target="res/values-es/multiimagechooser_strings_es.xml"/>
        <resource-file src="src/android/Library/res/values-fr/multiimagechooser_strings_fr.xml" target="res/values-fr/multiimagechooser_strings_fr.xml"/>
        <resource-file src="src/android/Library/res/values-hu/multiimagechooser_strings_hu.xml" target="res/values-hu/multiimagechooser_strings_hu.xml"/>
        <resource-file src="src/android/Library/res/values-ja/multiimagechooser_strings_ja.xml" target="res/values-ja/multiimagechooser_strings_ja.xml"/>
        <resource-file src="src/android/Library/res/values-ko/multiimagechooser_strings_ko.xml" target="res/values-ko/multiimagechooser_strings_ko.xml"/>
        <source-file src="src/android/Library/res/values-pl/multiimagechooser_strings_pl.xml" target-dir="res/values-pl"/>

        <framework src="src/android/ignorelinterrors.gradle" custom="true" type="gradleReference"/>
        <framework src="src/android/androidtarget.gradle" custom="true" type="gradleReference"/>

    </platform>
</plugin>
